@tailwind base
@tailwind components
@tailwind utilities

@import '@mdi/font/css/materialdesignicons.css'
@import '@oruga-ui/oruga-next/dist/oruga-full.css'
@import '../node_modules/@fancy-crud/vue/src/styles/index.sass'
// @import '@fancy-crud/oruga-wrapper/dist/fancy-crud-oruga-wrapper.css'
@import '../node_modules/@fancy-crud/oruga-wrapper/src/styles/index.sass'

:root
  --oruga-variant-danger: red

.f-form > *::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
  border-radius: 10px
  background-color: #F5F5F560

.f-form > *::-webkit-scrollbar
  width: 5px
  background-color: rgba(255, 255, 255, 0)
  border-radius: 10px
  opacity: 0.1

.f-form > *::-webkit-scrollbar-thumb
  border-radius: 10px
  background-color: #555
  
// .f-form-footer__button--main
//   background-color: black